.searchBarContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 16px;
}

.searchIcon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.searchInput {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.searchInput::placeholder {
    color: #A4A4A4;
}

.searchBarUnstyled {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.searchBarUnstyled {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
}