.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #e0e0e0;
    padding: 16px;
    width: 450px;
    height: 350px;
    box-shadow: 2px 4px 4px 0px #00000026;
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
.categoryContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
}

.colorDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: -23px;
}

.categoryText {
    color: #8D8D8DCC;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-left: 9px;
    margin-top: 23px;
    margin-bottom: 40px;
}

.vacancyText {
    flex-grow: 7;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #000000CC;
    margin-bottom: 16px;
    width: 272px;
}

.location {
    font-size: 14px;
    color: #777;
    flex-grow: 1;
}

.companyContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
}

.companyLogo {
    height: 19px; /* Встановлюємо фіксовану висоту для всіх логотипів */
    width: auto;  /* Дозволяємо ширині масштабуватися пропорційно */
    max-width: 90px; /* Обмежуємо максимальну ширину, щоб уникнути виходу за межі */
    margin-right: 12px;
}

.companyName {
    font-size: 12px;
    color: #999;
}

.locationIcon {
    width: 14px;
    height: 20px;
    color: #939393;
    margin-right: 14px;
}