* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fullAppHeaderContainer{
    height: 800px;
    background-image: url('@/assets/icons/curve.svg');
    background-color: #CDE7FF;
    background-repeat: no-repeat;
    background-position-x: calc(100% + 109px);/*right*/
    background-position-y: calc(100% + 100px);
    background-size: 1049px 597px;
}

.fullMainFrameContainer{
    background-color: #CDE7FF;
}
.fullTopMainFrameContainer{
    background-color: #FFFFFF;
    height: 180px;
}
.fullAppFooterContainer{
    height: 370px;
    background-color: #52606D;
}